    <ion-app>
      <ion-header translucent>
        <ion-toolbar>
          <ion-button class="searchButton">
            <div class="ion-text-left">Search</div>
          </ion-button>
          <ion-button >
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div id="map"style="height:100%;" >
        </div>

      </ion-content>
      
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Explore</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>My Profile</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
     
    </ion-app>